/*! Base styles: Mobile First */
html { color: #eee; font-size: 110%; background:#222;}
body {font-family: wf_segoe-ui_normal, 'Segoe UI', Tahoma, Arial, sans-serif; margin: 0;padding: 0;}
header {padding: 0 5%; display:block; background:#333; border-bottom: 2px solid #111; border-top: 2px solid #000;}
main {padding: 2rem 5%; display:block;}
footer {padding:0;}
p { word-spacing: 0.35rem; line-height:1.4rem;}
a {text-decoration:none; font-weight:bold; letter-spacing:.08rem;}
a:link {color:#7af;}
a:visited {color:#ccc;}
a:hover {color:#fd0;}
a:active {color:#fd0;}
b {letter-spacing:.08rem;}
h1 {margin:0.7rem 0 1rem 0; line-height:100%;}
svg#ITLlogo {fill:#eee;}


/* opinionated defaults*/
/* A better looking default horizontal rule */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #999; margin: 1em 0; padding: 0; }
/* Remove the gap between audio, canvas, iframes, * images, videos and the bottom of their containers*/
audio, canvas, iframe, img, svg, video { vertical-align: middle; }
/*  Remove default fieldset styles. */
fieldset { border: 0; margin: 0; padding: 0;}
/* Allow only vertical resizing of textareas.  */
textarea { resize: vertical;}



/* Helper classes */

a.hdrlink {padding: 0.5rem 0.5rem 0.5rem 0; display:inline-block;}
a#mslogo { margin-left:2rem; margin-right:0; float:right;}
svg#Twtlogo  {height:24px; width:auto;}
svg#ytlogo  {height:24px; width:auto;}
svg#msftlogo  {height:24px; width:auto;}
svg#ITLlogo  {margin:1.5rem 0rem 2rem 0rem; width:100%; height:auto;}

#photos {line-height: 0;
-webkit-column-count: 3;
-webkit-column-gap:   0px;
-moz-column-count:    3;
-moz-column-gap:      0px;
column-count:         3;
column-gap:           0px;
}/* https://codepen.io/team/css-tricks/pen/pvamyK */

#photos img {width: 100% !important;  height: auto !important;}




/* Hide visually and from screen readers */
.hidden { display: none !important; }

/* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; white-space: nowrap;}

/* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; white-space: inherit; }

/* Hide visually and from screen readers, but maintain layout
*/
.invisible { visibility: hidden; }

/* Clearfix: contain floats*/
.clearfix:before, .clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.clearfix:after { clear: both; }

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
html { font-size: 120%;}
header {padding-right:8%; padding-left:8%;}
main {padding-right:8%; padding-left:8%;}
}

@media only screen and (min-width: 50em) {
html { font-size: 130%;}
header {padding-right:12%; padding-left:12%;}
main {padding-right:12%; padding-left:12%;}
}

@media only screen and (min-width: 70em) {
html { font-size: 150%;}
header {padding-right:20%; padding-left:20%;}
main {padding-right:20%; padding-left:20%;}
}

@media (max-width: 51em) {
#photos {
-moz-column-count:    2;
-webkit-column-count: 2;
column-count:         2;
}
}
@media (max-width: 36em) {
#photos {
-moz-column-count:    1;
-webkit-column-count: 1;
column-count:         1;
}
}


